@keyframes slideOutTop {
    10% {
        transform: perspective(1000px) translate3d(-10px, -10px, -100px);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    30% {
        transform: perspective(1000px) translate3d(50px, 50px, -100px);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    50% {
        transform: perspective(1000px) translate3d(50px, 50px, -100px);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: perspective(1000px) translate3d(-100px, -100px, -400px);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
}

@keyframes slideOutBottom {
    10% {
        transform: perspective(1000px) translate3d(-10px, -10px, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    30% {
        transform: perspective(1000px) translate3d(50px, 50px, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    50% {
        opacity: 1;
        transform: perspective(1000px) translate3d(50px, 50px, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: perspective(1000px) translate3d(50px, 250px, 300px);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    100% {
        opacity: 0;
        transform: perspective(1000px) translate3d(50px, 250px, 300px);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: perspective(1000px) translate3d(100px, 100px, 500px);
    }
    50% {
        opacity: 0;
        transform: perspective(1000px) translate3d(100px, 100px, 500px);
    }
    75% {
        opacity: 1;
        transform: perspective(1000px) translate3d(100px, 100px, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    100% {
        transform: perspective(1000px) translate3d(0, 0, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
}
@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: perspective(1000px) translate3d(-100px, -100px, -400px);
    }
    50% {
        opacity: 0;
        transform: perspective(1000px) translate3d(-100px, -100px, -400px);
    }
    75% {
        opacity: 1;
        transform: perspective(1000px) translate3d(50px, 50px, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
    100% {
        transform: perspective(1000px) translate3d(0, 0, 0);
        transition-timing-function: cubic-bezier(.45,1.8,.5,.75);
    }
}



#hrz-container {
    transform-origin: 20% 20%;
    background-image: linear-gradient(to bottom, #565961 0%, #000000 100%);
}

.hrz-page {
    background-color: #fff;
    outline: 10px solid #3f3f3f;
    overflow: hidden;
    transform-origin: 20% 20%;
    transform-style: preserve-3d;
}

.hrz-page.hrz-back {
    animation: slideOutTop 1s;
    animation-fill-mode: forwards;
}
.hrz-page.hrz-fore {
    animation: slideOutBottom 1s;
    animation-fill-mode: forwards;
}
.hrz-page.hrz-focus-from-fore {
    animation: slideInBottom 1s;
    animation-fill-mode: forwards;
}
.hrz-page.hrz-focus-from-back {
    animation: slideInTop 1s;
    animation-fill-mode: forwards;
}
