@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    transform: none;
  }
}

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.hrz-element {
    -webkit-animation: bounceInRight 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
}

.hrz-element.hrz-back {
    -webkit-animation: bounceOutLeft 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.hrz-element.hrz-fore {
    -webkit-animation: bounceOutRight 0.5s;
    -webkit-animation-fill-mode: forwards;
}