#hrz-container {
}

/*
 The moving blue gradient background
 */
#hrz-container:before {
    content: ' ';
    z-index: -10;
    position: absolute;
    overflow: visible;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#425cbc), color-stop(30%, #93d5ff), color-stop(60%, #ffffff), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, #425cbc 0%, #93d5ff 30%, #ffffff 60%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom,  #425cbc 0%, #93d5ff 30%, #ffffff 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transition: -webkit-transform 1s 0.6s;
            transition: transform 1s 0.6s;
}

#hrz-container.p1:before {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
#hrz-container.p2:before {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
}
#hrz-container.p3:before {
    -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
            transform: translateY(-200px);
}
#hrz-container.p4:before {
    -webkit-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
            transform: translateY(-300px);
}
#hrz-container.p5:before {
    -webkit-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
            transform: translateY(-400px);
}
#hrz-container.p6:before {
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
}
#hrz-container.max-top:before {
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
}

/*
 The floating clouds
 */
#hrz-container:after {
    content: ' ';
    position: absolute;
    z-index: -5;
    height: 3000px;
    width: 4000px;
    left: -300px;
    background:
        radial-gradient(110px 70px at 260px 355px, #e4e8ff 68%, rgba(228, 232, 255,0)), radial-gradient(120px 90px at 300px 330px, #e4e8ff 68%, rgba(228, 232, 255,0)), radial-gradient(70px 70px at 390px 350px, #e1e6ff 65%, rgba(228, 232, 255,0)),  radial-gradient(130px 60px at 660px 865px, #dfecf4 68%, rgba(223, 236, 244,0)), radial-gradient(120px 90px at 740px 830px, #dfecf4 68%, rgba(223, 236, 244,0)), radial-gradient(70px 70px at 820px 850px, #dfecf4 65%, rgba(223, 236, 244,0)),  radial-gradient(130px 60px at 1390px 551px, #e1e6ff 68%, rgba(228, 232, 255,0)), radial-gradient(120px 90px at 1340px 530px, #dfe4ff 68%, rgba(228, 232, 255,0)), radial-gradient(90px 70px at 1220px 550px, #e4e8ff 65%, rgba(228, 232, 255,0));
    background:
        -webkit-radial-gradient(260px 355px, 110px 70px, #e4e8ff 68%, rgba(228, 232, 255,0)), -webkit-radial-gradient(300px 330px, 120px 90px, #e4e8ff 68%, rgba(228, 232, 255,0)), -webkit-radial-gradient(390px 350px, 70px 70px, #e1e6ff 65%, rgba(228, 232, 255,0)),  -webkit-radial-gradient(660px 865px, 130px 60px, #dfecf4 68%, rgba(223, 236, 244,0)), -webkit-radial-gradient(740px 830px, 120px 90px, #dfecf4 68%, rgba(223, 236, 244,0)), -webkit-radial-gradient(820px 850px, 70px 70px, #dfecf4 65%, rgba(223, 236, 244,0)),  -webkit-radial-gradient(1390px 551px, 130px 60px, #e1e6ff 68%, rgba(228, 232, 255,0)), -webkit-radial-gradient(1340px 530px, 120px 90px, #dfe4ff 68%, rgba(228, 232, 255,0)), -webkit-radial-gradient(1220px 550px, 90px 70px, #e4e8ff 65%, rgba(228, 232, 255,0));
    background:
        radial-gradient(110px 70px at 260px 355px, #e4e8ff 68%, rgba(228, 232, 255,0)),
        radial-gradient(120px 90px at 300px 330px, #e4e8ff 68%, rgba(228, 232, 255,0)),
        radial-gradient(70px 70px at 390px 350px, #e1e6ff 65%, rgba(228, 232, 255,0)),

        radial-gradient(130px 60px at 660px 865px, #dfecf4 68%, rgba(223, 236, 244,0)),
        radial-gradient(120px 90px at 740px 830px, #dfecf4 68%, rgba(223, 236, 244,0)),
        radial-gradient(70px 70px at 820px 850px, #dfecf4 65%, rgba(223, 236, 244,0)),

        radial-gradient(130px 60px at 1390px 551px, #e1e6ff 68%, rgba(228, 232, 255,0)),
        radial-gradient(120px 90px at 1340px 530px, #dfe4ff 68%, rgba(228, 232, 255,0)),
        radial-gradient(90px 70px at 1220px 550px, #e4e8ff 65%, rgba(228, 232, 255,0));
    top: 0;
    -webkit-transition: top 1s 0.6s;
            transition: top 1s 0.6s;
    -webkit-animation: floating-clouds 50s linear infinite;
            animation: floating-clouds 50s linear infinite;
}
#hrz-container.p1:after {
    top: 0;
}
#hrz-container.p2:after {
    top: -200px;
}
#hrz-container.p3:after {
    top: -400px;
}
#hrz-container.p4:after {
    top: -600px;
}
#hrz-container.p5:after {
    top: -800px;
}
#hrz-container.p6:after {
    top: -1000px;
}
#hrz-container.max-top:after {
    top: -1000px;
}

@-webkit-keyframes floating-clouds {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 0;
    }
    2% {
        opacity: 0.9;
    }
    97% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
}

@keyframes floating-clouds {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 0;
    }
    2% {
        opacity: 0.9;
    }
    97% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        opacity: 0;
    }
}


.hrz-page.hidden {
    visibility: hidden;
}

.hrz-page.hrz-hidden > .hrz-element {
    display: none;
}

.hrz-back > .hrz-element {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), top 1s 0.5s;
            transition: transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), top 1s 0.5s;
}

.hrz-fore > .hrz-element {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), top 1s 0.5s;
            transition: transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), top 1s 0.5s;
}

.hrz-focus-from-fore > .hrz-element, .hrz-focus-from-back > .hrz-element {
    -webkit-transition: -webkit-transform 0s, top 0s;
            transition: transform 0s, top 0s;
}

.hrz-focus-from-fore > .hrz-element.transition, .hrz-focus-from-back > .hrz-element.transition {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), top 1s, opacity 0.3s;
            transition: transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000), top 1s, opacity 0.3s;
}

.hrz-element.splash h1 {
    background: none;
}