body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
img {
    max-width: 100%;
}
#demo-controls {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid #efefef;
    z-index: 100;
}

#theme-selector {
    height: 30px;
    border: 2px solid #999999;
    text-transform: uppercase;
    font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    border-radius: 5px;
}

.onoffswitch {
    position: relative; width: 108px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ENABLED";
    padding-left: 5px;
    background-color: #65C452; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "DISABLED";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 3px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 78px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#root {
    margin-top: 10px;
}

.poem {
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}
.poem h2 {
    font-size: 40px;
    font-style: italic;}
.poem em {
    font-style: italic;
}

